:root {
  --blue: #00acdc;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.header {
  width: 100%;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 50px;
}

.logo-image {
  width: 40px;
  height: 40px;
  display: block;
}

.nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link.is-active {
  color: var(--blue);
}

.nav__link.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  border-radius: 8px;
  background-color: var(--blue);
}
